<html lang="en">
<head>
  <title>Home where intuition becomes reality</title>
</head>
<body>
<div cass=w3-row>
  <div class="w3-container">
    <div class="w3-half" >
      <h2 >Vision</h2>
    </div>
    <div class="w3-half">
      <p class="w3-relativity "  style="font-size: 14px;"><%='Syntuition vision is to change science up by turning it from reality into virtual. We want schools having difficulties in setting up experiments during exams for pupils which may be due to not having enough resources or space to accommodate all students however doing it virtually will have a merit over reality as virtually will allow things to be replaced in this case materials, exams will also be done anywhere, will also allow to record the activities of a student or seeing what a pupil was doing in the virt Lab when exams were being on. Exams will be done virtually and if possible, practical as well. Thus, our organization will make science access even to those with poor conditions as long as technology is there.'%> </p>
    </div>
  </div>
</div>
<div class="w3-row">
  <div class="w3-container">
    <h2 class="w3-center"><%='Software we normally use' %></h2>
    <div class="w3-col m2">
      <p class="w3-center "><span class="w3-text-orange w3-xlarge"><%='Blender' %></span><br><span class="w3-relativity" style="font-size: 14px;">The most important tool we use for various projecs like 3D animations, SkyLab and many more.</span></p>
    </div>
    <div class="w3-col m2">
      <p class="w3-center"><span class="w3-relativity" ><span class="w3-text-blue w3-xlarge"><%='Synfig' %></span> and <span class="w3-text-orange w3-xlarge">Harmony</span></span></p>
    </div>
    <div class="w3-col m2">
      <p class="w3-center"><span  class="w3-text-black w3-xlarge"><%='Three.js' %></span><br><span class="w3-relativity" style="font-size: 14px;">Here at Syntuition we mainly use Three.js in development of SkyLab.</span></p>
    </div>
    <div class="w3-col m2">
      <p class="w3-center"><%= 'Medibang/Clip Studio Paint' %></p>
    </div>
    <div class="w3-col m2">
      <p class="w3-center"><%='Crazy Bump' %></p>
    </div>
    <div class="w3-col m2">
      <p class="w3-center"><span  class="w3-text-blue w3-xlarge"><%= 'Godot' %></span><br><span class="w3-relativity" style="font-size: 14px;">Godot is also a good tool that we use in developing SkyLab.</span></p>
    </div>
  </div>
</div>
<div cass=w3-row>
  <div class="w3-container">
    <div class="w3-half" >
      <p class="w3-relativity" style="font-size: 14px;"><%='Show reels are a collection of advancements
        made in each month of a particular year at Syntuition organization. The
        reel is composed of animations, newly added Skylab experiments,
        modifications made in Spooky, Textures add to the database,
        comics developed and many more. Reels also play an important
        role in the initial openings of the showcasing day at Syntuition.
        The length of the reel is ought not to exceed the 5 minutes with
        this, we cherry-pick by debating at what should be put in a reel.
        The reels are made accessible to everyone including popular
        networks like Facebook, YouTube and Instagram as a result,
        we recommend you to join us today.'%> </p>

    </div>
    <div class="w3-half">
      <h2 class="w3-center" ><%='Show reel' %></h2>
    </div>
  </div>
</div>
</body>
</html>