<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home where intuition becomes reality!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
</head>
<body>
<%= render :partial =>'abt' %>

<div class="w3-row ">
  <div class="w3-container" >
    <%= render :partial=>'abt2' %>
    <div class="w3-col m9">
      <div class="w3-container">
        <h2 class="w3-relativity w3-margin w3-text-brown"><%='About' %></h2>
        <p class="w3-margin-left w3-ready"><%='Syntuition organization was
        established in response to people having difficulties in learning hard/natural
        sciences in Zambia, with this, Skylab was made in order to facilitate
        the illustrations found in science books to 3D Virtual reality. SkyLab
        started when the organization put a large animation studio for artists
        who wanted to bring their traditional art to life for the purpose of
        entertainment and development of SkyLab. So, what is SkyLab? SkyLab is
        an open source 3D virtual Laboratory project that is being created by
        the community who are Computer graphic designers, biologists, architects,
        chemists, teachers, computer programmers the list goes on. Creating SkyLab
        lab is done using 3D technology and other software, with this, we urge you to get
        involved for the love of science or 3D technology and the next generation to come.
        Our animation studio reflects individuals creativity through skill or talent and
        storytelling using powerful software.'%></p>
        <h2 class="w3-relativity w3-padding w3-text-brown"><%='Why Syntuition and not other names?'%></h2>
        <article class="w3-padding w3-relativity"><%="Syntuition is a combination of two words namely;"%> <span class="w3-text-teal"><%="Synthetic" %></span> <span class="w3-text-blue"><%='Intuition.' %></span> <%='Synthetic is a story,
          virtual experiments, code or picture that has been created by an artist,
          scientist or programmer, while intuition is the actual meaning
          of the word itself but in the world of art, science and programming.
          Thus, the organization was credited to artists and scientists who
          cared/loved/wanted to turn science experiments portrayed in books to life
          using 3D technology all over the world.'%></article>
        <h2 class="w3-relativity w3-padding w3-text-brown"><%='After its establishment'%></h2>
        <p class="w3-padding w3-relativity"> <%='Once it was established, many 3D artists, biologists,
          physicists, chemists, computer programmers and teacher, came on board and added
          on different programs to expand the laboratory. It was done so in order to
          improve the education system in Zambia.  The organization currently employs no
          individuals as it has not established its offices in Zambia but as soon as its
          projects start to find their way on the market, plans for establishing an office
          for administration, store, test lab, a class rooms, space for workshops/3D
          prints and a large studio for animation film productions will be commenced.'%> </p>

      </div>
    </div>
  </div>
</div>
</body>
</html>



